/*시간표 틀*/

#table-wrap {
    float: left;
    margin: auto auto auto 20px;
}

#time-table {
    width: 800px;
    margin: auto auto auto 30px;
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

#time-table th,
td {
    border: 1px solid;
    border-color: #d6d6d6;
    color: #a6a6a6;
}

#table-head {
    padding: 10px;
    height: 30px;
    background-color: rgb(233, 232, 227);
}

.table-content {
    padding: 0px;
}

.period-table {
    height: 40px;
    width: 100px;
}

.clock-table {
    width: 100px;
}


/*저장된 시간표*/

.saved-subject {
    color: black;
}

.saved-subject>div {
    padding: 10px;
    margin: 0px;
}

.saved-subject>div>em {
    font: inherit;
    font-size: 17px;
    font-weight: 900;
}

#saved-list-wrap>.saved-subject:hover {
    opacity: 0.8;
}


/*시간표 저장*/

#add-by-wrtten-wrap {
    padding: 10px;
    display: inline-block;
    margin: 5% 0 0 7%;
    background: rgb(206, 200, 200);
}

#add-by-written-input {
    padding: 10px;
    float: left;
    line-height: 200%;
}

#add-by-wrtten-wrap button {
    margin: 3px auto;
    line-height: 400%;
}